*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* header */

header{
    background-color: #ff6900;
}

#nav-bar{
    width: 80%;
    min-height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-bar div{
    width: calc(100%/3);
}

#nav-bar a{
    color: white;
    font-weight: 600;
    padding-right: 2%;
}

#nav-logo{
    text-align: center;
}
#nav-logo>img{
    max-height: 25px;
}
#nav-shop{
    text-align: right;

}
#nav-shop i{
    color: white;
}



/* body */
#container{
    width: 80%;
    margin: 20px auto;

}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.img-shop{
    width: 32%;
}

/* debug body*/
#container{
    border: 2px solid black;
    min-height: 700px;
}

.row{
    border: 2px solid black;
    min-height: 600px;
}

.img-shop{
    border: 2px solid black;
   
}
/* /debug */


/* footer */

footer{
    background-color: black;

}

#container-footer{
    width: 80%;
    margin: auto;
    color: white;
    
    display: flex;
    justify-content: space-between;
}


/* debug */
#container-footer{
    border: 2px solid white;
    min-height: 80px;
}
/* /debug */